pandas~=1.2.3
nltk~=3.7
tensorflow~=2.8.0
tensorflow-gpu~=2.8.0
sklearn~=0.0
scikit-learn~=1.0.2
requests~=2.25.1
bs4~=0.0.1
beautifulsoup4~=4.9.3
readability~=0.3.1
konlpy~=0.6.0
fugashi~=1.1.2
gensim~=4.2.0
SudachiPy~=0.6.5
googletrans~=4.0.0rc1
matplotlib~=3.3.4
imblearn~=0.0
xgboost~=1.5.2
nlpaug~=1.1.10
keras~=2.8.0
inflection~=0.5.1
pytest~=6.2.5
xmltodict~=0.11.0
SQLAlchemy~=1.3.23
numpy~=1.20.1
geopandas~=0.10.2
descartes~=1.1.0
rasterio~=1.2.10
pyproj~=3.2.1
Flask~=2.0.2